.sidebar {
  flex-basis: 40%;
  max-width: 250px;
  height: 90vh;
  padding-bottom: 2rem;
  padding-inline: 0.3em;
  position: fixed;
  top: 70px;
  left: 0;
  box-shadow: 0 0 10px hsl(220, 15%, 25%);
  overflow-y: hidden;
}
.sidebar:hover {
  overflow-y: auto;
}
.sidebar__menu--button {
  display: none;
}

.sidebar::-webkit-scrollbar {
  width: 16px;
}

.sidebar::-webkit-scrollbar-track {
  border-radius: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.sidebar__content {
  margin-bottom: 30px;
}

.sidebar__list {
  list-style-type: none;
}
.sidebar__item {
  display: flex;
  gap: 2px;
  margin-block: 1em;
  font-weight: 800;
  font-size: 0.625rem;
}
.sidebar__link {
  width: 100%;
  text-decoration: none;
  color: #efefef;
}
.sidebar__link.active {
  color: #149eca;
}
@media screen and (max-width: 850px) {
  .sidebar {
    padding-top: 50px;
    top: 80px;
    left: -500px;
    transition: all 0.6s ease-in-out;
    background-color: hsl(220, 15%, 16%);
    border-right: 5px solid hsl(220, 15%, 25%);
    z-index: 10;
  }
  .sidebar.active {
    left: 0;
  }
  .sidebar__menu--button {
    display: block;
    position: fixed;
    top: 80px;
    left: 10px;
    width: 140px;
    border-radius: 40px;
    font-size: 0.7rem;
    background-color: hsl(220, 15%, 25%);
    color: #149eca;
    padding: 0.5em 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #fff;
    outline: none;
  }
}
